*{
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}
#root{
  padding: 0;
}
#bodyHome {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  background-color: black;
}
#bodyHome #upperPage, #bodyHome #lowerPart{
  display: flex;
  width: 100%;
  height: 50vh;
  flex-direction: row;
  color: white;
  align-items: center;
  justify-content: space-around;
}
#bodyHome #upperPage img{
 width: 50vw;
 height: 40vh;
 object-fit: cover;
}

#btn-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 100%;
  justify-content: space-evenly;
}

#btn-container button{
  border: none;
  width: 150px;
  height: 50px;
  background: linear-gradient(90deg, rgb(73, 221, 255), rgb(202, 148, 24), rgb(234, 61, 8));
  border-radius: 20px;
}

#loginbody{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background-color: black;
  background-image: url('./assets/pages/images/login-background-pic.gif');
  background-position: 0 0;
  background-size: contain;
  background-repeat: repeat;
  color: white;
  opacity: 0.9;
}

#loginform{
 height: 60vh;
 width: 70vw;
 border: 3px solid white;
 border-radius: 30px;
background-color: black;
opacity: 0.9;
}